<div class="bio">
	<img style="width:12%;height:auto;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Carl_Sagan_Planetary_Society.JPG/200px-Carl_Sagan_Planetary_Society.JPG"> 
	<div style="width:80%;float:right;text-align:left;padding-left:2em">
		<h2>Carl Sagan</h2>
		<h3>About me : </h3>
		<ul style="padding:0 25%;">
			<li>Divulgador científico</li>
			<li>Desarrollador Javascript</li>
		</ul>
		<br />
		<h3>Video demo : <a href="https://www.youtube.com/watch?v=x1gmvOeeL78">Carl Sagan</a></h3>

	</div>
</div>
