<% if (session.autoLogout===true) { %>
<br/><label class="error">Usuario inactivo</label>
<br/><label class="error">Periodo de inactividad superior a 2 minutos. Vuelva a autenticarse.</label>
<% session.autoLogout = false %>
<% } %>

<h2>Login</h2>

<form method='POST' action='/login'>

  <div class="field">
    <label for="login">Login:</label><br />
    <input type="text" id="login" name="login" size="30" />
  </div>

  <div class="field">
    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" size="30" />
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Login" />
  </div>

</form>
